<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Form Updated</title>
</head>
<body>
<h1>Email Message</h1>
<h2>Subject</h2>
<th:block th:fragment="subject">A trainee doctor has updated their GMC Number</th:block>
<h2>Content</h2>
<th:block th:fragment="content">
  <div th:replace="fragments/retry/v1.0.0 :: retry(${originallySentOn})"></div>
  <div style="text-align:right"><img style="margin-right:25px; height:100px" src='https://trainee.tis.nhs.uk/nhse-logo.png' alt="NHS England logo"/></div>
  <p>Dear Local Office,</p>
  <p id="doctorName">Doctor <span th:text="${not #strings.isEmpty(givenName)} ? |${givenName}| : _"></span
  > <span th:text="${not #strings.isEmpty(familyName)} ? |${familyName}| : _">(family name missing)</span
  > has provided GMC number <span th:text="${not #strings.isEmpty(gmcNumber)} ? |${gmcNumber}| : _">(GMC number missing)</span
  ></p>
  <p>If this new GMC number is valid, their personal details in TIS will be updated accordingly. <a id="tisTraineeLink"
      th:href="${'https://apps.tis.nhs.uk/admin/people/person/' + {traineeId} + '/edit-personal-details'}">Review</a> their details to confirm.</p>
  <p>If the new GMC number is not valid then it will not be updated in TIS. For example, duplicate GMC numbers are not allowed. This error can occur when the doctor has duplicate profiles in TIS and this GMC number is already set in the other profile.</p>
  <p>Kind Regards,</p>
  <p>TIS Self-Service</p>
  <div th:replace="fragments/disclaimer/v1.0.0 :: body"></div>
</th:block>
</body>
</html>
