<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Form Updated</title>
</head>
<body>
<h1>Email Message</h1>
<h2>Subject</h2>
<th:block th:fragment="subject">Your FormR has been updated</th:block>
<h2>Content</h2>
<th:block th:fragment="content">
  <div th:replace="fragments/retry/v1.0.0 :: body"></div>
  <div style="text-align:right"><img style="margin-right:25px" src='https://trainee.tis.nhs.uk/nhse-logo.png' alt="NHS England logo"/></div>
  <p th:replace="~{fragments/greeting/v1.0.0 :: p}"></p>
<span th:switch="${lifecycleState}">

  <span th:case="'SUBMITTED'" id="SUBMITTED">
    <p>We want to inform you that your local NHS England office has received your FormR<span
  th:text="${eventDate}? | on ${#temporals.format(eventDate, 'dd MMMM yyyy')}| : _"></span>.
    </p>
    <p>
      You can access your PDF signed FormR by visiting
      <a th:href="${not #strings.isEmpty(domain)}? @{{domain}/{formType}(domain=${domain},formType=${formType})} : _">TIS
      Self-Service</a>.
    </p>
  </span>

  <span th:case="'UNSUBMITTED'" id="UNSUBMITTED">
    <p>We want to inform you that your local NHS England office has returned your FormR for modification<span
      th:text="${eventDate}? | on ${#temporals.format(eventDate, 'dd MMMM yyyy')}| : _"></span>.
    </p>
    <p>You can update and re-submit your FormR by visiting
      <a th:href="${not #strings.isEmpty(domain)}? @{{domain}/{formType}(domain=${domain},formType=${formType})} : _">TIS
      Self-Service</a>.
    </p>
  </span>

  <span th:case="'DELETED'" id="DELETED">
    <p>We want to inform you that your local NHS England office has deleted your FormR<span
      th:text="${eventDate}? | on ${#temporals.format(eventDate, 'dd MMMM yyyy')}| : _"></span>.
    </p>
    <p>If you did not request this then please contact your local NHS England office for further details.
    </p>
  </span>

  <span th:case="*" id="OTHER">
    <p>We want to inform you that your FormR has been updated<span
  th:text="${eventDate}? | on ${#temporals.format(eventDate, 'dd MMMM yyyy')}| : _"></span>.
    </p>
    <p>
      If this is unexpected then please contact your local NHS England office for further details.
    </p>
  </span>
</span>
  <div th:replace="fragments/disclaimer/v1.0.0 :: body"></div>
</th:block>
</body>
</html>
