<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>LTFT Approved</title>
</head>
<body>
<h1>Email Message</h1>
<h2>Subject</h2>
<th:block th:fragment="subject">Notification for Changing hours (LTFT) Application Approval for <th:block th:text="${not #strings.isEmpty(familyName)} ? |Dr ${familyName}| : _">Doctor</th:block> (<th:block th:text="${not #strings.isEmpty(var?.formRef)} ? ${var.formRef} : 'unknown form reference'"></th:block>)
</th:block><h2>Content</h2>
<th:block th:fragment="content" th:with="subjectRefs = |GMC: ${not #strings.isEmpty(var?.personalDetails?.gmcNumber) ? var.personalDetails.gmcNumber : 'unknown'}, LTFT Ref No: ${not #strings.isEmpty(var?.formRef) ? var.formRef : 'unknown'}|">
  <div th:replace="fragments/retry/v1.0.0 :: retry(${originallySentOn})"></div>
  <div style="text-align:right"><img style="margin-right:25px; height:100px" src='https://trainee.tis.nhs.uk/nhse-logo.png' alt="NHS England logo"/></div>
  <p>Dear <span th:text="${not #strings.isEmpty(var?.discussions?.tpdName)} ? |${var.discussions.tpdName}| : _">Training Programme Director</span>,</p>
  <p>We would like to inform you that we have approved Changing hours (LTFT) application for <th:block th:text="${not #strings.isEmpty(familyName)} ? |Dr ${familyName}| : _">Doctor</th:block>, <th:block th:text="${not #strings.isEmpty(var?.personalDetails?.gmcNumber)} ? ${var.personalDetails.gmcNumber} : 'unknown'"></th:block> on <th:block th:text="${not #strings.isEmpty(var?.timestamp)} ? ${#temporals.format(var.timestamp, 'dd MMMM yyyy')}   : 'unknown'"
  ></th:block>. Your details were provided in the application as you have been part of discussions for the proposed hours. Please see below summary of the approved application:</p>
  <table th:replace="~{fragments/ltft-summary/v1.0.0 :: ltftSummary(${var?.programmeMembership?.name}, ${var?.change?.startDate}, ${var?.change?.cctDate}, ${var?.programmeMembership?.wte}, ${var?.change?.wte})}"></table>
  <p>If you have any queries regarding this application, <th:block th:with="contact = ${contacts?.get('LTFT_SUPPORT')}">
    <th:block th:replace="~{fragments/link/v1.0.0 :: link(${contact?.contact}, ${contact?.type}, 'please click on the following link for Local Office Support. ', ${contact?.contact}, '', 'please contact your <strong>Local Office Support team.</strong>', |Ltft Approved - Enquiries - ${subjectRefs}|)}"></th:block>
  </th:block>
  </p>
  <p>
    Kind Regards,
  </p>
  <p>
    <th:block th:text="${not #strings.isEmpty(var?.programmeMembership?.managingDeanery)} ? |NHS England - ${var.programmeMembership.managingDeanery}| : 'Your Local Office'"></th:block>
  </p>
  <div th:replace="fragments/disclaimer/v1.0.0 :: body"></div>
</th:block>
</body>
</html>
