<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Greeting</title>
</head>
<body>
<hr>
<p><small>This email is intended only for use by the named addressee. It may contain confidential and/or privileged information. If you are not the intended recipient, you should contact us immediately and should not disclose, use, or rely on this email. We do not accept any liability arising from a third-party taking action, or refraining from taking action, on the basis of information contained in this email. Thank you.</small></p>
</body>
</html>

