<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>6 Months Reminder - Completion of Specialty Training and Period of Grace</title>
</head>
<body>
<h1>Email Message</h1>
<h2>Subject</h2>
<th:block th:fragment="subject">6 Months Reminder - Completion of Specialty Training and Period of Grace</th:block>
<h2>Content</h2>
<th:block th:fragment="content">
    <div th:replace="fragments/retry/v1.0.0 :: retry(${originallySentOn})"></div>
    <div style="text-align:right"><img style="margin-right:25px; height:100px" src='https://trainee.tis.nhs.uk/nhse-logo.png' alt="NHS England logo"/></div>
    <div th:replace="fragments/greeting/v1.0.0 :: greeting(${familyName})"></div>
    <p><b>6 Months Reminder - Completion of Specialty Training and Period of Grace</b></p>
    <p>According to our records, you are due to complete specialty training in <span
            th:text="${not #strings.isEmpty(programmeName)} ? ${programmeName} : 'programme'"></span> on <span
            th:text="${not #strings.isEmpty(cctDate)} ? |${#temporals.format(cctDate, 'dd MMMM yyyy')}| : _">CCT completion date missing</span>. <b>If this is not the case, please contact us immediately via <th:block
            th:switch="${contactHref}"
    ><span th:case="url"><a th:href="${localOfficeContact}"><span th:text="${localOfficeContact}"></span></a></span
    ><span th:case="email"><a id="loMail1" th:href="|mailto:${localOfficeContact}?subject=CCT Completion date query - GMC: ${not #strings.isEmpty(gmcNumber) ? gmcNumber : 'unknown'}, Prog No: ${not #strings.isEmpty(programmeNumber) ? programmeNumber : 'unknown'}|"><span th:text="${localOfficeContact}"></span></a></span
    ><span th:case="*"><span th:text="${localOfficeContact}"></span></span
    ></th:block></b>.</p>
    <p>NHS England offers an optional 6-month Period of Grace following your completion of training date. It is subject to the availability of posts. This is to enable doctors who have completed training and not yet obtained a consultant post to continue in the Specialty Registrar grade contract for a time limited period whilst they find employment, usually in a consultant level post.</p>
    <p>You are required to complete the <b>Intent Form</b> available at <th:block
            th:switch="${pogContactHref}"
    ><span th:case="url"><a id="pogUrl" th:href="${pogContact}"><span th:text="${pogContact}"></span></a></span
    ><span th:case="email"><a id="pogMail1" th:href="|mailto:${pogContact}?subject=Period of Grace query - GMC: ${not #strings.isEmpty(gmcNumber) ? gmcNumber : 'unknown'}, Prog No: ${not #strings.isEmpty(programmeNumber) ? programmeNumber : 'unknown'}|"><span th:text="${pogContact}"></span></a></span
    ><span th:case="*"><span th:text="${pogContact}"></span></span
    ></th:block> to confirm whether you will be applying for a POG. If we do not receive the intent form 16 weeks before your CCT date, NHS England may not be able to offer you a Period of Grace placement.</p>
    <p>You must remain connected to your Responsible Officer - <span th:text="${not #strings.isEmpty(roName)} ? ${roName} : _">responsible officer missing</span
    >, and your Designated Body - <span th:text="${not #strings.isEmpty(designatedBody)} ? ${designatedBody} : _">designated body missing</span
    > for the duration of your Period of Grace.</p>
    <p>Please familiarise yourself with the process for applying to join the Specialist Register through the GMC. The GMC have provided the following online guide to help you with the process:</p>
    <p>CCT route: <a href="https://www.gmc-uk.org/registration-and-licensing/join-the-register/registration-applications/specialist-application-guides/guide-to-a-certificate-of-completion-of-training">Certificate of completion of training application</a>.</p>
    <p>Your local office will be in contact with you regarding details about your final ARCP, but do remember to take the time to review your Royal College or Faculty’s curriculum to make sure you are meeting its requirements.</p>
    <p>Please note that this is an automated email. Thank you if you have already submitted your request. We will respond in due course.</p>
    <p>Please do not hesitate to contact your local office if you have any questions.</p>
    <p>Kind Regards,</p>
    <p><span th:text="${not #strings.isEmpty(localOfficeName)} ? ${localOfficeName} : 'Your local office'"></span> (Please note Health Education England is now part of NHS England. Our systems will be updated in due course.)</p>
    <p>Workforce, Training and Education</p>
    <p>NHS England</p>
    <div th:replace="fragments/disclaimer/v1.0.0 :: body"></div>
</th:block>
</body>
</html>
