<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Email Message</h1>
<h2>Subject</h2>
<th:block th:fragment="subject">NHS England - <span
    th:text="${not #strings.isEmpty(localOfficeName)} ? ${localOfficeName} : 'your local office'" th:remove="tag"></span
  > - Onboarding to your Training Programme</th:block>
<h2>Content</h2>
<th:block th:fragment="content">
  <div th:replace="fragments/retry/v1.0.0 :: body"></div>
  <div style="text-align:right"><img style="margin-right:25px" src='https://trainee.tis.nhs.uk/nhse-logo.png' alt="NHS England logo"/></div>
  <div th:replace="fragments/greeting/v1.0.0 :: body"></div>
</th:block>
</body>
</html>
