<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sponsorship</title>
  </head>
  <body>
    <h1>In-App Notification</h1>
    <h2>Subject</h2>
    <th:block th:fragment="subject">Sponsorship</th:block>
    <h2>Content</h2>
    <th:block th:fragment="content">
      <p>
        This notification pertains to the following programme
        <th:block th:text="${not #strings.isEmpty(programmeName)} ? ${programmeName} : _"
          >(programme name missing)</th:block
        >
        starting on
        <th:block th:text="${startDate} ? |${#temporals.format(startDate, 'dd MMMM yyyy')}| : _"
          >(start date missing)</th:block
        >.
      </p>
      <p>
        If you require a Certificate of Sponsorship in order to apply for a Skilled Worker visa for this rotation, please follow this
        <a
          href="https://medical.hee.nhs.uk/medical-training-recruitment/medical-specialty-training/overseas-applicants/overseas-sponsorship-guidance/overseas-sponsorship-contact-details"
          th:target="_blank"
        >link to overseas sponsorship contact details</a>
        for details on the application process. Should you have any questions that are not answered on this website,
        <th:block: th:switch="${localOfficeContactType}">
          <th:block th:case="NON_HREF"
          > please contact your local office for information on Sponsorship.</th:block
          >
          <th:block th:case="*"
          > please click on the following link for information on Sponsorship.
            <a
              th:href="${localOfficeContactType} == 'email' ?
              |mailto:${localOfficeContact}?subject=Sponsorship - GMC: ${not #strings.isEmpty(gmcNumber) ? gmcNumber : 'unknown'}, Prog No: ${not #strings.isEmpty(programmeNumber) ? programmeNumber : 'unknown'}|
              : ${localOfficeContact}"
              th:text="${localOfficeContact}"
              th:target="_blank"
            ></a
            ></th:block>
        </th:block:>
      </p>
    </th:block>
  </body>
</html>
