<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>LTFT Update</title>
</head>
<body>
<h1>Email Message</h1>
<h2>Subject</h2>
<th:block th:fragment="subject">Your LTFT Application Status Update</th:block>
<h2>Content</h2>
<th:block th:fragment="content">
  <div th:replace="fragments/retry/v1.0.0 :: retry(${originallySentOn})"></div>
  <div style="text-align:right"><img style="margin-right:25px; height:100px" src='https://trainee.tis.nhs.uk/nhse-logo.png' alt="NHS England logo"/></div>
  <p th:replace="~{fragments/greeting/v1.0.0 :: greeting(${familyName})}"></p>
  <p>
    The status of your LTFT application<th:block
      th:text="${not #strings.isEmpty(var?.formRef)}? | (ref: ${var.formRef})| : _"></th:block> has changed<th:block
      th:text="${not #strings.isEmpty(var?.state)}? | to ${var.state}| : _"></th:block><th:block
      th:text="${var?.timestamp}? | on ${#temporals.format(var.timestamp, 'dd MMMM yyyy')}| : _"></th:block>.
  </p>
  <p>Kind Regards,</p>
  <p>TIS Self-Service</p>
  <p><strong>Application Reference:</strong> <th:block
      th:text="${not #strings.isEmpty(var?.formName)}? |${var.formName}| : _">(not set)</th:block></p>
  <div th:replace="fragments/disclaimer/v1.0.0 :: body"></div>
</th:block>
</body>
</html>
