<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>LTFT Submitted</title>
</head>
<body>
<h1>Email Message</h1>
<h2>Subject</h2>
<th:block th:fragment="subject">
  NHS England<th:block th:text="${not #strings.isEmpty(var?.programmeMembership?.managingDeanery)} ? | - ${var.programmeMembership.managingDeanery}| : _"></th:block> - Your LTFT Application Has Been Unsubmitted - <th:block th:text="${not #strings.isEmpty(var?.formRef)} ? ${var.formRef} : 'unknown form reference'"></th:block>
</th:block><h2>Content</h2>
<th:block th:fragment="content" th:with="subjectRefs = |GMC: ${not #strings.isEmpty(var?.personalDetails?.gmcNumber) ? var.personalDetails.gmcNumber : 'unknown'}, LTFT Ref No: ${not #strings.isEmpty(var?.formRef) ? var.formRef : 'unknown'}|">
  <div th:replace="fragments/retry/v1.0.0 :: retry(${originallySentOn})"></div>
  <div style="text-align:right"><img style="margin-right:25px; height:100px" src='https://trainee.tis.nhs.uk/nhse-logo.png' alt="NHS England logo"/></div>
  <p th:replace="~{fragments/greeting/v1.0.0 :: greeting(${familyName})}"></p>
  </div>
  <p>Your Less Than Full Time (LTFT) application (ref: <th:block th:text="${not #strings.isEmpty(var?.formRef)} ? ${var.formRef} : 'unknown'"></th:block>) has been unsubmitted by your Local Office<th:block
    th:text="${not #strings.isEmpty(var?.programmeMembership?.managingDeanery)} ? | ${var.programmeMembership.managingDeanery}| : _"></th:block>.
  </p>
  <h3>Reason for Unsubmission:</h3>
  <p><th:block th:text="${not #strings.isEmpty(var?.stateDetail?.reason)} ? ${var.stateDetail.reason} : 'Unknown'"></th:block></p>
  <h3>Message from <th:block
      th:text="${not #strings.isEmpty(var?.programmeMembership?.managingDeanery)} ? ${var.programmeMembership.managingDeanery} : 'your Local Office'"></th:block>:</h3>
  <p><th:block th:text="${not #strings.isEmpty(var?.stateDetail?.message)} ? ${var.stateDetail.message} : 'None'"></th:block></p>
  <p>
    If any action is required from you, please review your application on <a
      href="https://trainee.tis.nhs.uk/ltft" target="_blank">TIS Self-Service</a> and make the necessary updates before re-submitting.
  </p>
  <p>
    For any further queries, please contact your <th:block th:with="contact = ${contacts?.get('LTFT_SUPPORT')}">
    <th:block th:replace="~{fragments/link/v1.0.0 :: link(${contact?.contact}, ${contact?.type}, '', 'Local Office Support Team', '.', 'Local Office Support Team.', |Ltft Unsubmitted - Enquiries - ${subjectRefs}|)}"></th:block>
  </th:block>
  </p>

  <p><strong>Kind Regards,<br><th:block th:text="${not #strings.isEmpty(var?.programmeMembership?.managingDeanery)} ? |NHS England - ${var.programmeMembership.managingDeanery}| : 'Your Local Office'"></th:block></strong></p>

  <p><em>(Please note: Health Education England is now part of NHS England, and our systems will be updated accordingly.)</em></p>

  <p><strong>Workforce, Training and Education<br>NHS England</strong></p>
  <div th:replace="fragments/disclaimer/v1.0.0 :: body"></div>
</th:block>
</body>
</html>