<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>LTFT Submitted</title>
</head>
<body>
<h1>Email Message</h1>
<h2>Subject</h2>
<th:block th:fragment="subject">
  NHS England<th:block th:text="${not #strings.isEmpty(var?.programmeMembership?.managingDeanery)} ? | - ${var.programmeMembership.managingDeanery}| : _"></th:block> - Confirmation of Unsubmitted Application for Change in Hours (LTFT) - <th:block th:text="${not #strings.isEmpty(var?.formRef)} ? ${var.formRef} : 'unknown form reference'"></th:block>
</th:block><h2>Content</h2>
<th:block th:fragment="content" th:with="subjectRefs = |GMC: ${not #strings.isEmpty(var?.personalDetails?.gmcNumber) ? var.personalDetails.gmcNumber : 'unknown'}, LTFT Ref No: ${not #strings.isEmpty(var?.formRef) ? var.formRef : 'unknown'}|">
  <div th:replace="fragments/retry/v1.0.0 :: retry(${originallySentOn})"></div>
  <div style="text-align:right"><img style="margin-right:25px; height:100px" src='https://trainee.tis.nhs.uk/nhse-logo.png' alt="NHS England logo"/></div>
  <p th:replace="~{fragments/greeting/v1.0.0 :: greeting(${familyName})}"></p>
  </div>
  <p>The status of your Changing hours (LTFT) application (ref: <th:block th:text="${not #strings.isEmpty(var?.formRef)} ? ${var.formRef} : 'unknown'"></th:block>) has changed<th:block
      th:text="${not #strings.isEmpty(var?.state)}? | to ${var.state}| : _"></th:block> on <th:block
      th:text="${not #strings.isEmpty(var?.timestamp)} ? ${#temporals.format(var.timestamp, 'dd MMMM yyyy')}   : 'unknown'"></th:block>.
  </p>
  <p>Reason provided: <th:block th:text="${not #strings.isEmpty(var?.stateDetail?.reason)} ? ${var.stateDetail.reason} : 'unknown'"></th:block></p>

  <h3>Making Changes to Your Application</h3>
  <p>
    If you wish to edit or withdraw your unsubmitted application, you can do so via <a
      href="https://trainee.tis.nhs.uk/ltft" target="_blank">TIS Self-Service</a>.<br>Please go to the Changing hours (LTFT) tab.
  </p>
  <ul>
    <li><strong>To Edit:</strong> Select your unsubmitted application to update and re-submit it.</li>
    <li><strong>To Withdraw:</strong> Select <strong>"Withdraw"</strong> to permanently withdraw your application.</li>
  </ul>

  <p><strong>Kind Regards,<br><th:block th:text="${not #strings.isEmpty(var?.programmeMembership?.managingDeanery)} ? |NHS England - ${var.programmeMembership.managingDeanery}| : 'Your Local Office'"></th:block></strong></p>

  <p><em>(Please note: Health Education England is now part of NHS England, and our systems will be updated accordingly.)</em></p>

  <p><strong>Workforce, Training and Education<br>NHS England</strong></p>
  <div th:replace="fragments/disclaimer/v1.0.0 :: body"></div>
</th:block>
</body>
</html>