<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Dear <span data-th-text="${name} ?: _">Doctor</span>,</p>
    <p>
      We want to inform you that your local deanery office
      <span th:text="${managingDeanery}? | (${managingDeanery}) | : _"></span>
      has received your signed Conditions of Joining
      <span th:text="${syncedAt}? | on ${#temporals.format(syncedAt, 'dd MMMM yyyy')}| : _"></span>.
    </p>
    <p>
      You can access a PDF of your signed Conditions of Joining by visiting
      <a th:href="${not #strings.isEmpty(host)}? @{{host}/programmes(host=${host})} : _">TIS Self-Service</a>.
    </p>
  </body>
</html>
