<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Placement Useful information</title>
</head>
<body>
<h1>In-App Notification</h1>
<h2>Subject</h2>
<th:block th:fragment="subject">Placement Useful Information</th:block>
<h2>Content</h2>
<th:block th:fragment="content">
  <p>
    For your placement starting
    <b>
      <th:block th:text="${startDate} ? |${#temporals.format(startDate, 'dd MMMM yyyy')}| : _">
        (start date missing)
      </th:block>
    </b> at
    <b>
      <th:block th:text="${not #strings.isEmpty(site)} ? ${site} : _">
        (site name missing)
      </th:block>
    </b> in
    <b>
      <th:block th:text="${not #strings.isEmpty(specialty)} ? ${specialty} : _">
        (speciality name missing)
      </th:block></b>, please see the below information.
  </p>
  <p>Further information on the management of specific issues can be found by contacting your <th:block: th:switch="${localOfficeContactType}">
    <th:block th:case="NON_HREF"
    > NHS England local office.</th:block
    >
    <th:block th:case="*"
    ><a
      th:href="${localOfficeContactType} == 'email' ?
      |mailto:${localOfficeContact}?subject=Placement Useful Information - GMC: ${not #strings.isEmpty(gmcNumber) ? gmcNumber : 'unknown'}, Start Date: ${#temporals.format(startDate, 'dd/MM/yyyy')}|
      : ${localOfficeContact}"
      th:target="_blank"
    >NHS England local office</a
    >.</th:block>
  </th:block:>For example:
    <ul>
      <li>Taking time out of programme (OOP)</li>
      <li>Working less than full time (LTFT)</li>
      <li><a
        href="https://www.hee.nhs.uk/our-work/supporting-doctors-returning-training-after-time-out"
        target="_blank">
        Supported Return to Training (SuppoRTT)</a></li>
      <li>Concerns or complaints</li>
      <li>Specialty specific guidance</li>
    </ul>
  </p>
  <p>
    Please refer to the National guidelines found below:
    <ul>
      <li><a
        href="https://www.copmed.org.uk/publications/gold-guide" th:target="_blank">
        Gold guide</a> to Specialty Training.
      </li>
    </ul>
  </p>
</th:block>
</body>
</html>
