<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>LTFT summary</title>
</head>
<body>
<table style="width:100%" border="1" th:fragment="ltftSummary(programme, startDate, cctDate, currentWte, newWte)">
  <tr>
    <td>Programme</td>
    <td><th:block th:text="${not #strings.isEmpty(programme)} ? ${programme} : 'unknown'"></th:block></td>
  </tr>
  <tr>
    <td>Start Date</td>
    <td><th:block th:text="${not #strings.isEmpty(startDate)} ? ${startDate} : 'unknown'"></th:block></td>
  </tr>
  <tr>
    <td>Anticipated End Date</td>
    <td><th:block th:text="${not #strings.isEmpty(cctDate)} ? ${cctDate} : 'unknown'"></th:block></td>
  </tr>
  <tr>
    <td>Current WTE %</td>
    <td><th:block th:text="${not #strings.isEmpty(currentWte)} ? ${currentWte} : 'unknown'"></th:block></td>
  </tr>
  <tr>
    <td>New WTE %</td>
    <td><th:block th:text="${not #strings.isEmpty(newWte)} ? ${newWte} : 'unknown'"></th:block></td>
  </tr>
</table>
</body>
</html>